[Unit]
Description=LockChain cryptsetup key staging (v{{VERSION}})
DefaultDependencies=no
After=systemd-udev-settle.service run-lockchain.mount
Before=cryptsetup.target initrd-root-fs.target
Wants=run-lockchain.mount systemd-udev-settle.service
Requires=run-lockchain.mount

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/lockchain-cryptsetup-keys.sh
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=initrd-root-fs.target
