[Unit]
Description=LockChain Unlock (%i) (legacy unit name: lockchain-luks@.service)
After=lockchain-luks.service
Requires=lockchain-luks.service
ConditionPathExists=/etc/lockchain.toml

[Service]
Type=oneshot
User=lockchain
Group=lockchain
Environment=LOCKCHAIN_CONFIG=/etc/lockchain.toml
ExecStart=/usr/bin/lockchain-cli --config ${LOCKCHAIN_CONFIG} unlock --dataset %I
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
